.container {
  margin: 20px auto;
  width: 720px;
  padding: 20px;
  border: 1px outset #DCDCDC;
  box-shadow: 0 0 20px #DCDCDC
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #222;
  margin-bottom: 30px;
  text-shadow: 0 0 3px #888;
}




/************ Nav bar ************/

nav {
  border: 1px outset #DCDCDC;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-image: -webkit-linear-gradient(bottom, rgb(209,209,209) 4%, rgb(240,240,240) 55%);
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0 1px;
}

nav ul li {
  display: inline-block;
  width: 19%;
  position: relative; 
}

nav ul li:nth-child(1):hover .submenu {
  left: 0;
}

nav ul li+li {
  border-left: 1px solid white;
}

nav ul li a {
  text-decoration: none;
  color: #444;
}
